.form {
  width: 40vw;
  height: 30vh;
  margin: calc(35vh - 130px) auto;
  background-color: #1976d2;
  padding: 50px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.campo-nome, .campo-preco {
  width: 100%;
  display: block;
}

.div-botoes {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

button mat-icon {
  font-size: 24px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .form {
    width: 90%;
  }
}
