<mat-toolbar class="toolbar" role="banner">
  <h1>E-commerce</h1>
  <div class="spacer"></div>
  <button mat-icon-button (click)="alternarMenu()">
    <mat-icon *ngIf="!opened">menu</mat-icon>
    <mat-icon *ngIf="opened">close</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav position="end" mode="side">
    <a routerLink="/produto/cadastrar" routerLinkActive="active" (click)="fecharMenu()">
      <mat-icon>add_circle_outline</mat-icon>
      Cadastro
    </a>
    <mat-divider></mat-divider>
    <a routerLink="/produtos" (click)="fecharMenu()">
      <mat-icon>format_list_bulleted</mat-icon>
      Produtos
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
