.tabela {
  width: 100%;
}

.mat-column-codigo {
  width: 400px;
}

.mat-column-preco {
  width: 300px;
}

.mat-column-acoes {
  width: 200px;
  text-align: center;
}

a {
  color: black;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.linha-vazia {
  text-align: center;
}

.linha-vazia td {
  padding: 15px 0;
  background-color: #e2e2e2;
}
